<div class="wrapper">
    <app-banner path="Contact Us"></app-banner>
    <div class="container marg75">
      <div class="row">
        <div class="col-lg-12">
          <div class="dankovteam-shortcode-promo-block">
            <div class="promo-block">
              <div class="promo-text">Where Find Us?</div>
              <div class="center-line"></div>
            </div>
            <div class="promo-paragraph">Our location in the center</div>
          </div>
        </div>
      </div>
    </div> 
    <div class="container marg50">
      <div class="row">
        <div class="col-lg-12">
            <iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&ll=-33.8567844,151.2152967&spn=0.006967,0.016512&t=m&z=17&output=embed"></iframe>
        </div> 
      </div>
    </div>  
    <div class="container marg75">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
          <div class="promo-block">
            <div class="promo-text">Contact Form</div>
            <div class="center-line"></div>
          </div>
          <div class="marg50">
            <div class="row">
              <form id="contactForm" class="form-style" name="sentMessage"  novalidate="">
                <div class="col-lg-4">
                  <div class="text_cont form-group floating-label-form-group controls">
                    <input id="name" type="text" placeholder="You Name" required="" data-validation-required-message="Please enter name" class="form-control"><span class="help-block text-danger"></span>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="text_cont form-group floating-label-form-group controls">
                    <input id="email" type="email" placeholder="You Email" required="" data-validation-required-message="Please enter email" class="form-control"><span class="help-block text-danger"></span>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="text_cont form-group floating-label-form-group controls">
                    <input id="phone" type="tel" placeholder="You Phone" required="" data-validation-required-message="Please enter phone number" class="form-control"><span class="help-block text-danger"></span>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="text_cont form-group floating-label-form-group controls">
                    <textarea id="message" cols="40" rows="10" placeholder="Message" required="" data-validation-required-message="Please enter a message." aria-invalid="false" class="form-control"></textarea><span class="help-block text-danger"></span>
                  </div>
                </div>
                <div class="col-lg-12"><div id="success"></div></div>
                <div class="col-lg-12"><p><button type="submit" class="btn btn-default">Send Message</button></p></div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="promo-block">
            <div class="promo-text">Information</div>
            <div class="center-line"></div>
          </div>
          <div class="marg50">
            <ul class="contact-composer">
              <li><i class="icon-map-pin"></i> <span>Address: 455 Martinson, Los Angeles</span></li>
              <li><i class="icon-phone"></i> <span>Phone: 8 (043) 567 - 89 - 30</span></li>
              <li><i class="icon-printer"></i> <span>Fax: 8 (057) 149 - 24 - 64</span></li>
              <li><i class="icon-megaphone"></i> <span>Skype: companyname</span></li>
              <li><i class="icon-envelope"></i> <span>E-mail: <a href="https://html.dankov-themes.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="8dfef8fdfde2fff9cde8e0ece4e1a3eee2e0">[email&#160;protected]</a></span></li>
              <li><i class="icon-key"></i> <span>Weekend: from 9 am to 6 pm</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>