<div class="wrapper">
    <app-banner path="About"> </app-banner>
    <div class="container marg75">
        <div class="row">
          <div class="col-lg-12">
            <div class="dankovteam-shortcode-promo-block">
              <div class="promo-block">
                <div class="promo-text">Mini Introduction</div>
                <div class="center-line"></div>
              </div>
              <div class="promo-paragraph">We are big company</div>
            </div>
          </div>
        </div>
          <div class="row marg50">
            <div class="col-lg-6">
              <div>
                <img src="../../../assets/images/about-us-office.jpg"  alt="Multiethnic People with Startup Business Talking in a Cafe">
              </div>
            </div> 
            <div class="col-lg-6">
              <div class="about-us-h2"><h2 style="color: #444444;text-align: left;font-family:Roboto Slab;font-weight:300;font-style:normal">We doing business better</h2></div>
              <p>Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an. She projection advantages resolution son indulgence. Part sure on no long life am at ever. In songs above he as drawn to. Git was outlived peculiar rendered led six.</p>
              <ul class="list-check">
                <li><i class="fa fa-check"></i> Clean And Minimal Design</li>
                <li><i class="fa fa-check"></i> We Love Our Clients</li>
                <li><i class="fa fa-check"></i> Powerful &amp; Flexible Settings</li>
                <li><i class="fa fa-check"></i> Online Premium Support</li>
              </ul>
              <p>View fine me gone this name an rank. Compact greater and demands mrs the parlors. Park be fine easy am size away. Him and fine bred knew. At of hardly sister favour.</p>
          </div> 
        </div> 
      </div> 
      <div class="container-color marg75">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="dankovteam-shortcode-promo-block">
                <div class="promo-block">
                  <div class="promo-text">Our Awesome Team</div>
                  <div class="center-line"></div>
                </div>
                <div class="promo-paragraph">Meet out professionals</div>
              </div>
            </div>
          </div>
        <div class="row marg30">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="team-image">
              <img src="../../../assets/images/smile.jpg" alt="Mark Pau">
            </div>
            <div class="team-block">
              <div class="about-name">Mark Pau</div>
              <div class="about-desc">Smart programmer</div>
              <ul class="soc-about">
                <li><a href="https://facebook.com/" title="Mark Pau Facebook profile"><i class="icon-facebook"></i></a></li>
                <li><a href="https://twitter.com/" title="Mark Pau Twitter profile"><i class="icon-twitter"></i></a></li>
                <li><a href="https://linkedin.com/" title="Mark Pau LinkedIn profile"><i class="icon-linkedin"></i></a></li>
                <li><a href="https://plus.google.com/" title="Mark Pau Google + profile"><i class="icon-googleplus"></i></a></li>
                <li><a href="https://dribbble.com/" title="Mark Pau Dribbble profile"><i class="icon-dribbble"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="team-image">
              <img src="../../../assets/images/blonde.jpg" alt="Lorena Moddy">
            </div>
            <div class="team-block">
              <div class="about-name">Lorena Moddy</div>
              <div class="about-desc">Creative designer</div>
              <ul class="soc-about">
                <li><a href="https://facebook.com/" title="Lorena Moddy Facebook profile"><i class="icon-facebook"></i></a></li>
                <li><a href="https://twitter.com/" title="Lorena Moddy Twitter profile"><i class="icon-twitter"></i></a></li>
                <li><a href="https://linkedin.com/" title="Lorena Moddy LinkedIn profile"><i class="icon-linkedin"></i></a></li>
                <li><a href="https://plus.google.com/" title="Lorena Moddy Google + profile"><i class="icon-googleplus"></i></a></li>
                <li><a href="https://dribbble.com/" title="Lorena Moddy Dribbble profile"><i class="icon-dribbble"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="team-image">
              <img src="../../../assets/images/satisf.jpg" alt="Smith Fox">
            </div>
            <div class="team-block">
              <div class="about-name">Smith Fox</div>
              <div class="about-desc">Talented SEO</div>
              <ul class="soc-about">
                <li><a href="https://facebook.com/" title="Smith Fox Facebook profile"><i class="icon-facebook"></i></a></li>
                <li><a href="https://twitter.com/" title="Smith Fox Twitter profile"><i class="icon-twitter"></i></a></li>
                <li><a href="https://linkedin.com/" title="Smith Fox LinkedIn profile"><i class="icon-linkedin"></i></a></li>
                <li><a href="https://plus.google.com/" title="Smith Fox Google + profile"><i class="icon-googleplus"></i></a></li>
                <li><a href="https://dribbble.com/" title="Smith Fox Dribbble profile"><i class="icon-dribbble"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="team-image">
              <img src="../../../assets/images/serious.jpg" alt="John Doe">
            </div>
            <div class="team-block">
              <div class="about-name">John Doe</div>
              <div class="about-desc">Сompetent leader</div>
              <ul class="soc-about">
                <li><a href="https://facebook.com/" title="John Doe Facebook profile"><i class="icon-facebook"></i></a></li>
                <li><a href="https://twitter.com/" title="John Doe Twitter profile"><i class="icon-twitter"></i></a></li>
                <li><a href="https://linkedin.com/" title="John Doe LinkedIn profile"><i class="icon-linkedin"></i></a></li>
                <li><a href="https://plus.google.com/" title="John Doe Google + profile"><i class="icon-googleplus"></i></a></li>
                <li><a href="https://dribbble.com/" title="John Doe Dribbble profile"><i class="icon-dribbble"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="container marg75">
        <div class="row">
          <div class="col-lg-12">
            <div class="dankovteam-shortcode-promo-block">
              <div class="promo-block">
                <div class="promo-text">Interesting Fact's</div>
                <div class="center-line"></div>
              </div>
              <div class="promo-paragraph">Know about us all</div>
            </div>
          </div>
        </div>
        <div class="row marg50">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <div>
                <div class="fact-icon"><i class="icon-happy"></i></div>
                <div class="fact-numb">243</div>
                <div class="fact-name">Happy Customers</div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <div>
                <div class="fact-icon"><i class="icon-target"></i></div>
                <div class="fact-numb">342</div>
                <div class="fact-name">Successful Projects</div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <div>
                <div class="fact-icon"><i class="icon-envelope"></i></div>
                <div class="fact-numb">899</div>
                <div class="fact-name">Letters Sent</div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <div>
                <div class="fact-icon"><i class="icon-book-open"></i></div>
                <div class="fact-numb">726</div>
                <div class="fact-name">Book Read</div>
              </div>
            </div>
        </div>
      </div> 
   <app-testimonial></app-testimonial>
   <app-clients></app-clients>
</div>