<div class="tp-banner-container" style="">
    <div class="tp-banner" style="position: relative; padding: 0;">
       <title style="position: absolute; top: 50%; right: 50%; transform: translate(50%,-50%); font-size: 24px; color: white;">{{path}}</title>

      <ul style="padding: 0;">
        <li data-transition="random-static" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
          <img src=".../../../../../assets/images/slide.jpg"  alt="slide"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">


        </li>
    
   
      </ul>
    </div>
  </div>